# Environnements virtuels
venv/
.venv/
env/

# Python
__pycache__/
*.pyc


# models ia
models/convnext_baseline.h5
models/convnext_baseline.keras
models/convnext_model.keras
models/convnext_model_colab.keras
models/convnext_model_colab.zip